.advantages {
  display: block;
}

.advantages__list {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media @tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/shapes/box-triangle.svg");
    width: 100.5%;
    height: 37px;
    left: 0;
    top: -1px;
    background-size: 100% 37px;
    background-position: top;
    background-repeat: no-repeat;

    @media @tablet {
      display: none;
    }
  }
}

.advantages__item {
  @media @tablet {
    &--full {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.advantages__sub-list {
  padding: 20px;
  padding-bottom: 22px;
  list-style-type: none;

  @media @tablet {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.advantages__sub-item {
  position: relative;
  text-align: left;
  padding-left: 44px;

  @media @tablet {
    text-align: center;
    padding: 20px 32px;
  }

  @media @desktop {
    padding-left: 50px;
    padding-right: 50px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    left: -2px;
    top: -8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media @tablet {
      top: 56px;
      left: 50%;
      width: 79px;
      height: 79px;
      transform: translateX(-50%);
    }
  }

  &--home::before {
    background-image: url("../img/advantages/home-icon.svg");
  }

  &--food::before {
    background-image: url("../img/advantages/food-icon.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/advantages/souvenirs-icon.svg");
  }
}

.advantages__sub-title {
  .heading();
  margin-top: 10px;
  margin-bottom: 16px;

  @media @tablet {
    .heading(middle);
    margin-top: 139px;
    margin-bottom: 23px;
  }
}

.advantages__sub-description {
  margin-top: 0;
  margin-bottom: 29px;

  @media @tablet {
    margin-bottom: 40px;
  }

  @media @desktop {
    margin-bottom: 60px;
  }

  & br {
    display: none;

    @media @desktop {
      display: block;
    }
  }
}

.advantages__item picture,
.advantages__picture {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: center;

  @media @tablet {
    grid-column: 2/-1;
    height: 256px;
  }
}

.advantages__item--full:nth-child(2n) {
  & .advantages__picture,
  & picture {
    @media @tablet {
      grid-column: 1/3;
      grid-row: 1;
    }
  }

  & .advantage-box {
    @media @tablet {
      grid-column: 3/4;
      grid-row: 1;
    }
  }
}

.advantages__intro {
  margin-top: 0;
  margin-bottom: 16px;

  @media @tablet {
    margin-bottom: 55px;
  }

  @media @desktop {
    margin-bottom: 44px;
  }
}
