.advantages {
  display: block;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  @media @tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__sub-list {
  .common-box();
  list-style-type: none;

  @media @tablet {
    grid-column: 1/-1;
    display: flex;
  }
}

.advantages__sub-item {
  text-align: left;
  position: relative;

  &::before {
    display: block;
    position: absolute;
  }

  &--home::before {
    content: url("../img/advantages/home-icon.svg");
  }

  &--food::before {
    content: url("../img/advantages/food-icon.svg");
  }

  &--souvenirs::before {
    content: url("../img/advantages/souvenirs-icon.svg");
  }
}

.advantages__sub-title {
  .heading();
  padding-left: 65px;
}

.advantages__sub-description {
  padding-left: 65px;
}

.advantages__picture {
  display: block;
  width: 100%;
  height: 260px;

  @media @tablet {
    grid-column: 2/-1;
  }
}

.advantages__intro {
  .common-box();
  margin-bottom: 33px;
}
