.card {
  .common-box();
  position: relative;
  text-align: left;
  padding: 0;
  border-top: 1px solid #e5e5e5;

  &:last-of-type {
    @media @mobile {
      border-bottom: 1px solid #e5e5e5;
    }
  }
}

.card__under-picture {
  @media @tablet {
    display: flex;
    justify-content: space-between;
  }

  @media @desktop {
    position: absolute;
    color: #ffffff;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @bg-color-modal;
  }
}

.card__picture {
  display: block;
  width: 100%;
  height: auto;
}

.card__title {
  .heading();
}

.card__picture-author,
.card__author-name {
  text-transform: none;
  font-style: normal;
}

.card__ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media @tablet {
    justify-self: end;
  }
}
