.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
}

.copyright__text {
  display: inline-block;
  margin: 0;
}

.copyright__link {
  display: inline-block;
  width: 36px;
  height: 36px;
}

.copyright__academy-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
}
