.form {
  display: grid;

  @media @tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__item {
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding: 71px 20px 39px 20px;
  margin: 0;

  @media @tablet {
    grid-column: 1/-1;

    &--introduction {
      grid-column: 1/2;
    }

    &--contacts {
      grid-column: 2/3;
    }
  }

  &--impression {
    display: grid;
    justify-items: start;

    @media @tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @media @desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--places {
    display: grid;
    justify-items: start;

    @media @tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @media @desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.form__legend {
  .heading();
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  padding: 0 20px;
  top: 25px;
  left: 0;
  right: 0;
}

.form__input {
  margin-bottom: 16px;
}

.form__item--introduction .form__input {
  @media @tablet {
    padding-right: 43px;
  }

  @media @desktop {
    padding-right: 63px;
  }
}

.form__item--contacts .form__input {
  @media @tablet {
    padding-left: 43px;
  }

  @media @desktop {
    padding-left: 63px;
  }
}


.form__comment {
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: 100%;
  height: 150px;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &::placeholder {
    color: @bg-color-modal;
  }
}

.form__submit {
  padding: 15px;
  margin: 0 20px;
}

.form__note {
  text-align: right;
  padding: 0 20px;
}
