.form {
  margin: 0;
  padding: 0;

  @media @tablet {
    display: grid;
    grid-row-gap: 22px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
  }

  @media @desktop {
    grid-template-columns: 51.5% auto;
    padding: 0 120px;
  }
}


.form__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 23px 20px;
  border: none;

  @media @tablet {
    padding: 0;
    grid-column: 1/-1;
  }

  &--introduction {
    @media @tablet {
      grid-column: 1/2;
      border-right: 1px solid #e5e5e5;
    }
  }

  &--contacts {
    padding-bottom: 18px;

    @media @tablet {
      grid-column: 2/3;
    }
  }

  &--impression {
    @media @tablet {
      margin-top: 26px;
      margin-bottom: 12px;
    }

    @media @desktop {
      margin-top: 34px;
      margin-bottom: 36px;
    }
  }

  &--places {
    @media @tablet {
      margin-bottom: 6px;
    }

    @media @desktop {
      margin-bottom: 33px;
    }
  }

  &--submit {
    max-width: 768px;
    margin: 0  auto;

    @media @tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 102px;
    }
  }

  &:not(:last-of-type) {
    @media @mobile {
      border-top: 1px solid #e5e5e5;
    }
  }
}

.form__legend {
  .heading();
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 20px;
  width: 100%;
  z-index: 2;
  text-align: center;
  float: left;
  clear: both;

  & span {
    display: block;
    background-color: #ffffff;
  }

  @media @tablet {
    .heading(middle);
    margin-bottom: 27px;
    margin-top: 0;
    padding: 0 120px;
    grid-column: 1/-1;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 42%;
      left: 0;
      background-color: #e5e5e5;
      z-index: -1;
    }
  }

  @media @desktop {
    padding: 0 280px;
  }
}

.form__item--introduction .form__legend,
.form__item--contacts .form__legend {
  padding: 0;

  &::before,
  &::after {
    display: none;
  }
}

.form__item--places .form__legend {
  @media @tablet {
    padding: 0 125px;
  }

  @media @desktop {
    padding: 0 280px;
  }
}

.form__input {
  margin-bottom: 15px;
}

.form__labels-wrapper {
  text-align: left;

  @media @tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 17px;
    justify-content: start;
    width: 575px;
    margin: 0 auto;
  }

  @media @desktop {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    width: auto;
    margin: 0 54px;
    margin-top: 17px;
  }
}

.form__item--places .form__labels-wrapper {
  @media @desktop {
    margin: 0;
    margin-left: 69px;
    margin-right: 46px;
  }
}

.form__label {
  display: block;
  margin-bottom: 40px;

  &:last-of-type {
    @media @mobile {
      margin-bottom: 0;
    }
  }

  @media @tablet {
    margin-bottom: 16px;
  }

  &.radio,
  &.check {
    margin-left: 25px;
  }
}

.form__label.check {
  @media @tablet {
    &:nth-of-type(2n-1) {
      padding-left: 48px;
    }

    &:nth-of-type(2n) {
      padding-left: 8px;
    }
  }

  @media @desktop {
    &:nth-of-type(n) {
      padding: 0;
      margin: 32px 0;
    }
  }
}

.form__item--introduction .form__input {
  @media @tablet {
    padding-right: 43px;
  }

  @media @desktop {
    padding-right: 63px;
  }
}

.form__item--contacts .form__input {
  @media @tablet {
    padding-left: 44px;
  }

  @media @desktop {
    padding-left: 64px;
  }
}

.form__comment {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  max-width: 768px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 11px;
  padding: 13px;
  background-color: #f2f2f2;
  border: 4px solid transparent;
  resize: none;

  @media @tablet {
    height: 160px;
    margin-bottom: 26px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    border-color: #e5e5e5;
    background-color: #ffffff;
    border-radius: 0;
    outline: none;
  }

  &::placeholder {
    color: @bg-color-modal;
  }
}

.form__submit {
  .heading(middle);
  width: 100%;
  padding: 16px;

  @media @tablet {
    width: 324px;
  }

  @media @desktop {
    width: 384px;
  }
}

.form__note {
  display: block;
  text-align: right;
  letter-spacing: 0.02em;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 30px;

  @media @tablet {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
    margin-top: 9px;
  }
}
