.hotel-search {
  padding: 0 20px;
}

.hotel-search__title {
  .heading(middle);
  padding-top: 43px;
  margin-top: 0;
  margin-bottom: 20px;

  @media @tablet {
    .heading(large);
    padding-top: 55px;
    margin-bottom: 30px;
  }

  @media @desktop {
    padding-top: 57px;
  }
}

.hotel-search__description {
  margin-top: 0;
  margin-bottom: 32px;

  @media @tablet {
    line-height: 22px;
    margin-bottom: 42px;
  }

  @media @desktop {
    margin-bottom: 46px;
  }

  @media @mobile {
    & br {
      display: none;
    }
  }
}

.hotel-search__button {
  .heading(middle);
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
  max-width: 426px;

  @media @tablet {
    margin-bottom: 59px;
  }

  @media @desktop {
    margin-bottom: 66px;
  }
}

.hotel-search__map {
  display: block;
  width: 100%;
  max-height: 350px;
  border: none;
  margin-bottom: 39px;
  background-color: #e5e5e5;
  background-size: cover;
  background-repeat: no-repeat;


  background-image: image-set(
    url("../img/map/map-mobile@2x.webp") 2x,
    url("../img/map/map-mobile@2x.jpg") 2x,
    url("../img/map/map-mobile.webp") 1x,
    url("../img/map/map-mobile.jpg") 1x
  );

  @media @tablet {
    max-height: 518px;
    background-image: image-set(
      url("../img/map/map-tablet@2x.webp") 2x,
      url("../img/map/map-tablet@2x.jpg") 2x,
      url("../img/map/map-tablet.webp") 1x,
      url("../img/map/map-tablet.jpg") 1x
    );
  }

  @media @desktop {
    background-image: image-set(
      url("../img/map/map-desktop@2x.webp") 2x,
      url("../img/map/map-desktop@2x.jpg") 2x,
      url("../img/map/map-desktop.webp") 1x,
      url("../img/map/map-desktop.jpg") 1x
    );
  }

  @media @tablet {
    margin-bottom: 35px;
  }

  &--no-js {
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;

    @media @tablet {
      max-width: 768px;
    }

    @media @desktop {
      max-width: 100%;
    }
  }
}
