.hotel-search {
  padding-top: 38px;
}

.hotel-search__header {
  .common-box();
}

.hotel-search__title {
  .heading(middle);
  margin-bottom: 20px;
}

.hotel-search__description {
  padding-bottom: 32px;
}

.hotel-search__button {
  padding: 15px;
  margin-bottom: 49px;
}

.hotel-search__map {
  width: 100%;
  //todo: как задать пропорциональную высоту?
}
