.main-nav {
  position: relative;
  width: 100%;
}

.main-nav__list {
  display: block;
  position: absolute;
  width: 100%;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  background-color: @bg-color-blue;

  @media @tablet {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "a b ... c d";
    background-color: @bg-color-white;
  }

  &--hidden {
    @media @mobile {
      .visually-hidden();
    }
  }
}

.main-header--no-js .main-nav__list {
  position: static;
}

.main-nav__item {
  min-height: 56px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: none;

  @media @tablet {
    border: none;

    &:nth-child(n+1) {
      grid-area: a;
    }

    &:nth-child(n+2) {
      grid-area: b;
    }

    &:nth-child(n+3) {
      grid-area: c;
    }

    &:nth-child(n+4) {
      grid-area: d;
    }
  }

  &:hover {
    @media @mobile {
      background-color: #669ec0;
    }
  }

  &:active {
    @media @mobile {
      background-color: #5496bd;
    }
  }

  &:last-child {
    @media @mobile {
      box-shadow: inset 0 -10px 10px -5px rgba(1, 1, 1, 0.2);
    }
  }
}

.main-nav__link {
  .heading();
  display: block;
  line-height: 59px;
  word-break: break-word;
  text-decoration: none;
  color: @bg-color-white;

  @media @tablet {
    color: #000000;
    line-height: 56px;
    font-size: @font-size-regular;
  }

  &:hover {
    @media @tablet {
      color: @bg-color-blue;
    }
  }

  &:active {
    @media @tablet {
      color: #b3b3b3;
    }
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    color: #b3b3b3;
  }
}

.main-nav__item--active .main-nav__link {
  @media @tablet {
    color: #766357;
  }
}

.main-nav__button {
  display: block;
  position: absolute;
  padding: 0;
  height: 56px;
  width: 56px;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--closed::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 23px;
    top: 18px;
    right: 50%;
    transform: translateX(34%);
    background-color: @bg-color-blue;
    box-shadow: 0 8px 0 0 @bg-color-blue, 0 16px 0 0 @bg-color-blue;
  }

  &--closed:hover::before {
    opacity: 0.6;
  }

  &--closed:active::before {
    opacity: 0.3;
  }

  &--opened:hover::before,
  &--opened:hover::after {
    background-color: lighten(@bg-color-blue, 20%);
  }

  &--opened:active::before,
  &--opened:active::after {
    background-color: lighten(@bg-color-blue, 10%);
  }

  &--opened::before,
  &--opened::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 28px;
    top: 50%;
    right: 50%;
    background-color: @bg-color-white;
  }

  &--opened::before {
    transform: translateX(38%) translateY(-50%) rotate(45deg);
  }

  &--opened::after {
    transform: translateX(38%) translateY(-50%) rotate(-45deg);
  }

  @media @tablet {
    display: none;
  }
}
