.page {
  font-family: "PT Sans", "Calibri", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  font-size: @font-size-regular;
  line-height: @line-height-regular;
  background-color: @bg-color-white;
  min-width: 320px;
  min-height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

//todo: delete
* {
  // margin: 0;
  // padding: 0;
  // border: 1px solid rgba(71, 86, 255, 0.2);
  border: none;
}
