@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  font-family: "PT Sans", "Calibri", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
  min-width: 320px;
  min-height: 100%;
}
.page__body {
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
* {
  border: none;
}
.main-header {
  display: flex;
  flex-direction: column;
}
.main-header__logo {
  position: absolute;
  align-self: center;
}
@media (min-width: 768px) {
  .main-header__logo {
    z-index: 1;
  }
}
.logo {
  display: block;
}
.logo__map,
.logo__area {
  border: 0;
}
.main-nav {
  position: relative;
}
.main-nav__menu {
  position: absolute;
  width: 100%;
  background-color: #81B3D2;
  padding-left: 0;
  margin-top: 0;
}
@media (min-width: 768px) {
  .main-nav__menu {
    display: flex;
    background-color: #ffffff;
  }
}
.main-nav__list {
  width: 100%;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: stretch;
    background-color: #ffffff;
  }
}
.main-nav__item {
  min-height: 55px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .main-nav__item {
    flex-grow: 1;
  }
  .main-nav__list--first .main-nav__item:last-child {
    margin-right: 93px;
  }
  .main-nav__list--second .main-nav__item:first-child {
    margin-left: 92px;
  }
}
.main-nav__link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: block;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__link {
    color: #000000;
  }
}
.main-nav__button {
  min-height: 55px;
  width: 23px;
  display: block;
  position: absolute;
  z-index: 1;
  right: 18px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}
.main-nav__button--close {
  background-image: url("../img/nav-button/menu-close.svg");
}
.main-nav__button--close:hover {
  background-image: url("../img/nav-button/menu-close-hover.svg");
}
.main-nav__button--close:active {
  background-image: url("../img/nav-button/menu-close-down.svg");
}
.main-nav__button--open {
  background-image: url("../img/nav-button/menu-open.svg");
}
.main-nav__button--open:hover {
  background-image: url("../img/nav-button/menu-open-hover.svg");
}
.main-nav__button--open:active {
  background-image: url("../img/nav-button/menu-open-down.svg");
}
@media (min-width: 768px) {
  .main-nav__button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.hero {
  padding-top: 55px;
  overflow: hidden;
}
.hero__image {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 389px;
  background-color: #81B3D2;
  background-image: url("../img/shapes/hero-triangle-mobile.svg"), url("../img/hero/hero-back-mobile-full.jpg");
  background-size: contain, cover;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-origin: padding-box;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 85px;
  padding-top: 90px;
  margin-bottom: 39px;
}
.hero__image--short {
  height: 158px;
  padding-top: 51px;
  padding-bottom: 67px;
  background-image: url("../img/shapes/hero-triangle-mobile.svg"), url("../img/hero/hero-back-mobile-short.jpg");
}
.hero__title {
  margin: 0 auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 27px;
}
.hero__slogan {
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 27px;
}
.advantages {
  display: block;
}
.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.advantages__sub-list {
  margin: 0 auto;
  padding: 0 20px;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages__sub-list {
    grid-column: 1/-1;
    display: flex;
  }
}
.advantages__sub-item {
  text-align: left;
  position: relative;
}
.advantages__sub-item::before {
  display: block;
  position: absolute;
}
.advantages__sub-item--home::before {
  content: url("../img/advantages/home-icon.svg");
}
.advantages__sub-item--food::before {
  content: url("../img/advantages/food-icon.svg");
}
.advantages__sub-item--souvenirs::before {
  content: url("../img/advantages/souvenirs-icon.svg");
}
.advantages__sub-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 65px;
}
.advantages__sub-description {
  padding-left: 65px;
}
.advantages__picture {
  display: block;
  width: 100%;
  height: 260px;
}
@media (min-width: 768px) {
  .advantages__picture {
    grid-column: 2/-1;
  }
}
.advantages__intro {
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 33px;
}
.advantage-box {
  margin: 0 auto;
  padding: 0 20px;
  display: block;
  background-color: #EEEEEE;
  padding-top: 39px;
}
.advantage-box--color {
  color: #ffffff;
  background-color: #81B3D2;
}
.advantage-box--curved {
  padding-top: 54px;
  background-image: url("../img/shapes/box-triangle.svg");
  background-size: contain;
  background-position: 0 -16px;
  background-repeat: no-repeat;
  background-origin: border-box;
}
.advantage-box__number {
  padding-top: 11px;
}
.advantage-box__description {
  padding-top: 17px;
  padding-bottom: 40px;
}
.hotel-search {
  padding-top: 38px;
}
.hotel-search__header {
  margin: 0 auto;
  padding: 0 20px;
}
.hotel-search__title {
  font-size: 18px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hotel-search__description {
  padding-bottom: 32px;
}
.hotel-search__button {
  padding: 15px;
  margin-bottom: 49px;
}
.hotel-search__map {
  width: 100%;
}
.photo-catalog__list {
  padding-left: 0;
  list-style: none;
}
.video-catalog {
  margin: 0 auto;
  padding: 0 20px;
}
.video-catalog__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.video-catalog__player {
  display: block;
  width: 100%;
  height: auto;
}
.card {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
  text-align: left;
  border-top: 1px solid #e5e5e5;
}
.card:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}
.card__picture {
  display: block;
  width: 100%;
  height: auto;
}
.card__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.card__picture-author,
.card__author-name {
  text-transform: none;
  font-style: normal;
}
.card__ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ratings {
  background-color: transparent;
}
.form {
  display: grid;
}
.form__item {
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding: 71px 20px 39px 20px;
  margin: 0;
}
.form__item--impression {
  display: grid;
  justify-items: start;
}
.form__item--places {
  display: grid;
  justify-items: start;
}
.form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  padding: 0 20px;
  top: 25px;
  left: 0;
  right: 0;
}
.form__input {
  margin-bottom: 16px;
}
.form__comment {
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: 100%;
  height: 150px;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.form__comment::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__submit {
  padding: 15px;
  margin: 0 20px;
}
.form__note {
  text-align: right;
  padding: 0 20px;
}
.input {
  display: block;
  text-align: left;
}
.input__text {
  display: block;
  box-sizing: border-box;
  padding-left: 16px;
  width: 100%;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 56px;
  border-radius: 0;
}
.input__text:hover {
  background-color: #e5e5e5;
}
.input__text:focus {
  background-color: #ffffff;
}
.input__text::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.input__text-wrapper {
  display: flex;
}
.input__icon {
  display: block;
}
.radio {
  background-color: transparent;
}
.check {
  background-color: transparent;
}
.footer {
  margin: 0 auto;
  padding: 0 20px;
  margin-top: auto;
  padding-top: 38px;
  padding-bottom: 22px;
}
.footer__visit-tag {
  font-size: 18px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 0;
}
.social-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.social-list__item:not(:first-child) {
  padding-left: 6px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-modal {
  background-color: transparent;
}
.button {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81B3D2;
}
/*# sourceMappingURL=style.css.map */
