// Mode: Tablet
@mobile: ~"(max-width: 767px)";

@tablet: ~"(min-width: 768px)";

// Mode: Desktop
@desktop: ~"(min-width: 1200px)";

// font-size-regular
@font-size-regular: 14px;
@line-height-regular: 21px;
@font-weight-regular: 400;

// font-size-small
@font-size-small: 12px;
@line-height-small: 21px;
@font-weight-small: 400;

// font-size-heading-small
@font-size-heading-small: 18px;
@line-height-heading-small: 27px;

// font-size-heading-middle
@font-size-heading-middle: 21px;
@line-height-heading-middle: 26px;

// font-size-heading-large
@font-size-heading-large: 30px;
@line-height-heading-large: 30px;

// bg-colors
@bg-color-white: #ffffff;
@bg-color-blue: #81b3d2;
@bg-color-lightgray: #eeeeee;
@bg-color-gray: #d6d6d6;
@bg-color-under-picture: #f2f2f2;
@bg-color-modal: rgba(0, 0, 0, 0.3);
//

@check-mark-color: #333333;
